form.reg-form,
.login-form {
    padding-inline: 250px;
}

div {
    margin-bottom: 15px;
}

div.helptext {
    display: none;
}

.login-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form>div {
    width: 350px;
    padding: 30px;
    border-radius: 10px;
}

.login-form>div input {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    form.reg-form,
    .login-form {
        padding-inline: 20px;
    }
}